.accordian {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease;
}

.accordian.open {
    margin-bottom: 1em;
    max-height: fit-content;
}

.toggle:hover {
    cursor:pointer;
    background-color: #77777777;
}
.toggle:active {
    background-color: light-dark(#ffffff33,#00000033);
}

.toggle {
    background-color: light-dark(#00000033, #ffffff33);
    border-radius: 10px;
}