.card {
    padding: 5px;
    padding-inline: 1em;
    border-radius: 30px;
    background-color: cornflowerblue;
    margin: 2em
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-top: 10px;
}