dialog {
    border-radius: 30px;
    width: 80%;
    min-width: 500px;
    height: 80%;
    height: 550px;
    border: none;
}

.dialog {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.dialog.header {
  align-items: center;
}

.dialog.body {
    flex-direction: column;
    height: 100%;
}

.dialog.footer {
    justify-content: right;
}
